[build]
builder = "nixpacks"
buildCommand = "cd apps/web && npm install && npx prisma generate && npm run build"

[deploy]
startCommand = "cd apps/web && npm run start"
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
